@model MvcMovie.Models.MovieGenericViewModel
@{
    ViewBag.Title = "Movies List";
}

<h2>Movies List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get" action="/Movies/Index">
    <p>
        <select @Html.DropDownListFor(m=>m.movieGenre,Model.genres,"Filter Genre")
        </select>
        Search Title: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<!--  model => model.movies[0].Title   -->
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title","Index",new {sortOrder = ViewBag.TitleSortParam })
        </th>
        <th>
            @Html.ActionLink("Release Date","Index",new { sortOrder = ViewBag.DateSortParam })
        </th>
        <th>
            @Html.ActionLink("Genre","Index",new { sortOrder = ViewBag.GenreSortParam })
        </th>
        <th>
            @Html.ActionLink("Price","Index",new { sortOrder = ViewBag.PriceSortParam })
        </th>
        <th></th>
    </tr>
    <tbody>
@foreach (var item in Model.movies) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</tbody>
</table>
